// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$enable-responsive-font-sizes: true;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-xl: ($font-size-base * 1.5);
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);
$font-size-xs: ($font-size-base * .75);

@import "spacers";

$primary: #1100ff;
$secondary: #ff0000;
$green: #5FB352;
$red: #dc3545 !default;
$orange: #EA8E0A;
$dark: #303030;
$light: #ffffff;

$gray-50: #F9FAFB !default;
$gray-100: #F2F4F6 !default;
$gray-200: #E5E7EB !default;
$gray-300: #D1D5DB !default;
$gray-400: #9CA3AF !default;
$gray-500: #6B7280 !default;
$gray-600: #4B5563 !default;
$gray-700: #374151 !default;
$gray-800: #1F2937 !default;
$gray-900: #111827 !default;
$gray-800: #1F2937 !default;

$custom-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "dark":$dark,
    "success": $green,
    "info": $primary,
    "warning": $orange,
    "danger": $red,
    "light": $light,
    "gray-50": $gray-50,
    "gray-100": $gray-100,
    "gray-200": $gray-200,
    "gray-300": $gray-300,
    "gray-400": $gray-400,
    "gray-500": $gray-500,
    "gray-600": $gray-600,
    "gray-700": $gray-700,
    "gray-800": $gray-800,
    "gray-900": $gray-900,
);
$theme-colors: $custom-colors;

$headings-margin-bottom: 0;
$link-hover-decoration: none;
$link-decoration: none;

$dropdown-link-hover-bg: white;
$dropdown-link-focus-bg: white;

$dropdown-link-hover-color: $primary;
$dropdown-link-focus-color: $primary;

$font-family-base: 'Noto Sans', sans-serif;
$link-color: $primary;
