$headings-margin-bottom:0;
$light: white;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-base: $font-family-sans-serif;
$link-hover-decoration:none;
$primary: #0094DA;
$info:$primary;
