//1. Configuration and helpers
@import 'abstracts/variables';
@import 'abstracts/mixins';

// 2. Vendors

@import "~bootstrap/scss/functions";
@import "~@themesberg/volt-bootstrap-5-dashboard/src/scss/volt/variables";

// Bootstrap
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Modify utilities here
@import "~@themesberg/volt-bootstrap-5-dashboard/src/scss/volt/utilities";

// Bootstrap Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";
@import "~datatables.net-bs5/css/dataTables.bootstrap5.min.css";

@import "~@themesberg/volt-bootstrap-5-dashboard/src/scss/volt/mixins";
@import "~@themesberg/volt-bootstrap-5-dashboard/src/scss/volt/functions";
@import "~@themesberg/volt-bootstrap-5-dashboard/src/scss/volt/layout";
@import "~@themesberg/volt-bootstrap-5-dashboard/src/scss/volt/components";
@import "~@themesberg/volt-bootstrap-5-dashboard/src/scss/volt/forms";


@import "~trix/dist/trix";
@import "~choices.js/src/styles/choices.scss";


@import 'base/base';

@import "components/cards";
@import "components/avatars";
@import 'components/trix';
@import "components/media-library-pro-bs5";
@import "components/table-fit";
@import "components/toaster";
