.login-side-image {
    background-image: url('https://source.unsplash.com/prMn9KINLtI/1920x1080')
}

.register-side-image {
    background-image: url('https://source.unsplash.com/prMn9KINLtI/1920x1080')
}

.verify-side-image {
    background-image: url('https://source.unsplash.com/prMn9KINLtI/1920x1080')
}
